
<!-- BEGIN CONTENT BODY -->
<div class="page-content" style="width: 90%; height: 90%">
	<!-- BEGIN PAGE HEAD-->
	<div class="page-head">
		<!-- BEGIN PAGE TITLE -->
		<div class="page-title">
			<h1>Service Configuration Wizard</h1>
		</div>
		<!-- END PAGE TITLE -->
	</div>
	<!-- END PAGE HEAD-->
	<hr>
	<!-- Progress Bar -->
	<div id="progress-bar">
		<div class="step">
			<div class="circle">1</div>
			<div class="title">Service</div>
		</div>
		<div class="step">
			<div class="circle">2</div>
			<div class="title">Image Registory</div>
		</div>
		<div class="step">
			<div class="circle">3</div>
			<div class="title">Run Settings</div>
		</div>
		<div class="step">
			<div class="circle">4</div>
			<div class="title">Networking Policy</div>
		</div>
		<div class="step">
			<div class="circle">5</div>
			<div class="title">Health Check Routes</div>
		</div>
		<div class="step">
			<div class="circle">6</div>
			<div class="title">Volumes</div>
		</div>
		<div class="stepcurrent">
			<div class="circle">7</div>
			<div class="title">Subnet</div>
		</div>
		<div class="stepcurrent">
			<div class="circle">8</div>
			<div class="title">Storage</div>
		</div>
	</div>

	<!-- End Progress Bar -->

	<!-- BEGIN PAGE BASE CONTENT -->
	<div class="row">
		<div class="col-md-12">
			<h1>Step :Storage</h1>

			<div id="spacer"></div>

			<div class="col-md-2 col-sm-3 col-xs-3">
				<ul class="nav nav-tabs tabs-left">
					<li><a data-toggle="tab"> Service </a></li>
					<li><a data-toggle="tab"> Image Registory</a></li>
					<li><a data-toggle="tab"> Run Settings </a></li>
					<li><a data-toggle="tab"> Networking Policy </a></li>
					<li><a data-toggle="tab"> Health Check Routes </a></li>
					<li><a data-toggle="tab"> Volumes </a></li>
					<li><a data-toggle="tab"> Subnet </a></li>
					<li class="active"><a href="#" data-toggle="tab"> Storage </a></li>
				</ul>
			</div>
			<div class="col-md-7 col-sm-7 col-xs-7">
				<form action="#" id="step-1" class="form-horizontal">
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-4">Storage<span
								class="required"> * </span>
							</label>
							<div class="col-md-6">
								<!--  <select id="subnetName" name="subnetName" data-ng-model="field.subnetName" aria-required="true" aria-describedby="select-error" class="form-control">
                          <option value="1.0">Type 1</option>
                        </select> -->
                        <input type="text" id="storageName" name="serviceName" placeholder="hostPath:containerPath"
									data-ng-model="field.storageName" class="form-control" /> <span
									class="help-block"> Enter Service Name</span>
								<!-- <select class="form-control" id="dockerStorage" aria-required="true"
									aria-describedby="select-error" class="form-control"
									data-ng-init="getAllServiceNameFromStorage()" ng-model="field.storageName"
									name="serviceID"
									 
									ng-options="group.serviceName  as group.serviceName for group in storageObj">
								</select> <span class="help-block"> Select Type</span> -->
							</div>
						</div>
					</div>
				</form>
				<br>
			</div>
			<div class="col-md-12">
				<hr>
				<div id="spacer"></div>
				<a href="#" class="btn grey-salsa btn-outline pull-left">Cancel</a>
				<button class="btn green pull-right">Submit</button>
				<a ui-sref="form.subnet" class="btn green pull-right"> < Back </a> <br>
				<div id="spacer"></div>
			</div>
		</div>
	</div>

	<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->

