<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" />
<title>PAAS | Application Listings</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/form-validation.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="../assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/layout.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-bootstrap-touchspin.min.js" type="text/javascript"></script>

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="../assets/pages/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/pages/css/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="../assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico" />
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
<script data-semver="1.2.28" src="https://code.angularjs.org/1.2.28/angular.js" data-require="angular.js@1.2.x"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="../assets/pages/scripts/applicationmain.js" type="text/javascript"></script>

<!--
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
<script src="../assets/pages/scripts/application/applicationGetStarted.js" type="text/javascript"></script>  
<script src="../app.js"></script>   
script src="../assets/pages/scripts/application/applicationWizard.js" type="text/javascript"></script> 
-->
</head>
<!-- END HEAD -->
<body
	class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
	<div class="page-content" style="height: 100%">
		<!-- BEGIN PAGE HEAD-->
		<div class="page-head">
			<div class="page-content">
				<h4>
					<b>Update Service </b>
				</h4>
			</div>
			<hr>
			<div style="width: 99%;">
				<div class="progress">
					<div class="progress-bar" role="progressbar"
						style="width: 100%; background-color: #9bd7e1;"></div>
				</div>
			</div>
			<!-- End Progress Bar -->
		</div>
		<!-- END PAGE HEAD-->

		<div data-ng-app="application" data-ng-controller="serviceUpdateCtrl">		
			<div class="row">
				 <div class="col-md-12">
					 <div id="spacer"></div>
					 <div id="progress-bar">

						<div class="col-md-2 col-sm-3 col-xs-3">
							<ul class="nav nav-tabs tabs-left">
								<li class="active"><a href="#tab_6_1" data-toggle="tab">
										Service </a></li>
								<li><a href="#tab_6_2" data-toggle="tab"> Image </a></li>
								<li><a href="#tab_6_3" data-toggle="tab"> Run Settings
								</a></li>
								<li><a href="#tab_6_4" data-toggle="tab"> Networking
										Policy </a></li>
								<li><a href="#tab_6_5" data-toggle="tab"> Health Check
										Routes </a></li>
								<li><a href="#tab_6_6" data-toggle="tab"> Volumes </a></li>
								<li><a href="#tab_6_7" data-toggle="tab"> Subnet </a></li>
							</ul>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<!-- TAB CONTENT -->
							<div class="tab-content">
								<div class="tab-pane active" id="tab_6_1">

									<div class="form-body">
										<div class="form-group">
											<label class="control-label col-md-4">Service Name <span
												class="required"> * </span>
											</label>
											<div class="col-md-4">
												<input name="serviceName" type="text"
													data-ng-model="service.serviceName" class="form-control"
													id="serviceName" value="" />
											</div>
										</div>
										<br> <br> <br> 
										<div class="form-group">
											<label class="control-label col-md-4">Type <span
												class="required"> * </span>
											</label>
											<div class="col-md-4">
												<select name="type" id="type" data-ng-model="service.type"
													aria-required="true" aria-describedby="select-error"
													class="form-control"
													data-ng-init="getAllRelatedContainerTypes()"
													data-ng-options="choice.name as choice.name  for choice in containerObject">
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="tab_6_2">

									<div class="form-body">
										<div class="form-group">
											<label class="control-label col-md-3">Image Registry
												<span class="required"> * </span>
											</label>
											<div class="col-md-4">
												<select name="imageRegistry" id="imageRegistry"
													data-ng-model="service.imageRegistry" aria-required="true"
													aria-describedby="select-error" class="form-control"
													data-ng-init="selectImageRegistry()"
													data-ng-options="choice.name as choice.name  for choice in imageRegObject">
												</select>
											</div>
										</div>
										<br><br>
										<div class="form-group">
											<label class="control-label col-md-3">Image
												Repository <span class="required"> * </span>
											</label>
											<div class="col-md-4">
												<input type="text" id="imageRegi" name="imageRegi"
													data-ng-model="service.imageRepository"
													class="form-control" data-ng-blur="selectSummary(service)" />
											</div>
										</div>
										<br><br>
										<div class="form-group">
											<label class="control-label col-md-3">Tag <span
												class="required"> * </span>
											</label>
											<div class="col-md-4">
												<select class="form-control ng-pristine ng-valid ng-touched" 
													id="tag" data-ng-model='service.tag'
													data-ng-options='number for number in reponames.tags'>
													<option	selected="selected" value="?"></option>
													</select>
												<!-- <select class="form-control ng-pristine ng-valid ng-touched"
													id="tag" data-ng-model="service.tag"
													data-ng-options="choice.name as choice.name  for choice in reponames">
													<option
														selected="selected" value="?"></option>
												</select> -->
											</div>
										</div>
										<div class="form-group" data-ng-show="isImg">
											<div class="col-md-6">
												<img src="smallload.gif">fetching from
												{{field.imageRegistry}}
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="tab_6_3">
									<div class="form-body">
										<div class="form-group">
											<label class="control-label col-md-3"> Run Command <span
												class="required"> * </span>
											</label>
											<div class="col-md-4">
												<input type="text" id="run" name="run"
													data-ng-model="service.run" class="form-control" value="" />
											</div>
										</div>
										<br><br>
										<div class="form-group">
											<label class="control-label col-md-3">Host Name <span
												class="required"> * </span>
											</label>
											<div class="col-md-4">
												<input name="hostName" type="text"
													data-ng-model="service.hostName" class="form-control"
													id="hostName" value="" />
											</div>
										</div>
										<br><br>
										<!-- Environment Variables -->
										<div class="form-group">
											<label for="envirnament" class="control-label col-md-0">Environmental
												VARS <span class="required"> * </span>
											</label> <br>
											<br>

											<div data-ng-repeat="service in env">
												<div class="row">
													<div class="col-md-2">
														<input type="hidden" class="form-control">

													</div>
													<div class="col-md-3">
														<input type="text" class="form-control"
															data-ng-model="service.envkey" name="envkey"> <span
															class="help-block"> Sample VAR </span>
													</div>
													<div class="col-md-3">
														<input type="text" class="form-control"
															data-ng-model="service.envvalue" name="envvalue">
													</div>
													<div class="col-md-2">
														<a data-ng-click="removeEnvirnament($index)"
															class="btn btn-icon-only green">
															<i class="fa fa-minus"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<div class="col-sm-3">
														<a class="btn green" data-ng-click="addNewEnvirnament()"><i
															class="fa fa-plus"></i></a>
													</div>
												</div>
											</div>

										</div>

									</div>

								</div>
								<div class="tab-pane fade" id="tab_6_4">

									<div class="form-body">
										<div class="form-group">
											<label class="control-label col-md-3"> Port Name </label>
											<div class="col-md-4">
												<input id="portName" name="portName" type="text"
													data-ng-model="service.portName" class="form-control"
													id="username" value="" />
											</div>
										</div>
										<br><br>
										<div class="form-group">
											<label class="control-label col-md-3">Port Type </label>
											<div class="col-md-4">
												<select name="portType" id="portType"
													data-ng-model="service.portType" aria-required="true"
													aria-describedby="select-error" class="form-control">
													<option value="Http">Http</option>
													<option value="Https">Https</option>
												</select>
											</div>
										</div>
										<br><br>
										<div class="form-group">
											<label class="control-label col-md-3"> Host Port </label>
											<div class="col-md-4">
												<input name="hostPort" type="text"
													data-ng-model="service.hostPort" class="form-control"
													id="hostPort" value="" />
											</div>
										</div>
										<br><br>
										<div class="form-group">
											<label class="control-label col-md-3"> Container Port
											</label>
											<div class="col-md-4">
												<input name="containerPort" type="text"
													data-ng-model="service.containerPort" class="form-control"
													id="containerPort" value="" />
											</div>
										</div>



									</div>


								</div>
								<div class="tab-pane fade" id="tab_6_5">

									<div class="form-body">
										<div class="form-group">
											<label class="control-label col-md-2"> Type Name </label>
											<div class="col-md-4">
												<select name="typeName" id="typeName"
													data-ng-model="service.typeName" aria-required="true"
													aria-describedby="select-error" class="form-control">
													<option value="TCP">TCP</option>
													<option value="HTTP">HTTP</option>
													<option value="HTTPs">HTTPs</option>
												</select> <span class="help-block"> Select Type </span>
											</div>
											<label class="control-label col-md-2"> Interval </label>
											<div class="col-md-4">
												<input id="envInterval" type="text" value=""
													data-ng-model="service.envInterval" name="envInterval">
												<span class="help-block"> Seconds</span>
											</div>
										</div>
										<br><br><br>
										<div class="form-group">
											<label class="control-label col-md-2"> Path </label>
											<div class="col-md-4">
												<input id="envPath" type="text" class="form-control"
													name="envPath" data-ng-model="service.envPath" value="/">
											</div>
											<label class="control-label col-md-2"> Failure
												Threshold </label>
											<div class="col-md-4">
												<input id="envThreshold" type="text" value="3"
													data-ng-model="service.envThreshold" name="envThreshold">
											</div>
										</div>
										<br><br>
										<div class="form-group">
											<label class="control-label col-md-2"> Ignore </label>
											<div class="col-md-3">
												<input id="envIgnore" type="text" value="4"
													data-ng-model="service.envIgnore" name="envIgnore">
											</div>
										</div>
									</div>

								</div>

								<div class="tab-pane fade" id="tab_6_6">
									<div class="form-body">

										<div class="form-group">
											<label class="control-label col-md-3">Volume <span
												class="required"> * </span>
											</label>
											<div class="col-md-4">
												<input name="volume" type="text"
													data-ng-model="service.volume" class="form-control"
													id="volume" value="" />
											</div>
										</div>

									</div>

								</div>
								<div class="tab-pane fade" id="tab_6_7">

									<div class="form-body">

										<div class="form-group">
											<label class="control-label col-md-4">Subnet<span
												class="required"> * </span>
											</label>
											<div class="col-md-6">
												<select name="type" id="type"
													data-ng-model="service.subnetName" aria-required="true"
													aria-describedby="select-error" class="form-control"
													data-ng-click="selectAllSubnet()"
													data-ng-options="choice.subnetName as choice.subnetName  for choice in subnetObj">
												</select> <span class="help-block"> Select Type </span>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4">Cidr<span
												class="required"> * </span>
											</label>
											<div class="col-md-6">
												<input name="cidr" type="text" class="form-control"
													data-ng-model="service.cidr" value="" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- END TAB CONTENT -->
						</div>
					</div>
					<div class="col-md-12">
						<hr>
						<div id="spacer"></div>
						<a href="#" data-ng-click="cancelServiceApp(service.appsId)"
							class="btn grey-salsa btn-outline pull-left">Cancel</a>
						<button class="btn green pull-right"
							data-ng-click="updateService(service)">Update</button>
						<a ui-sref="form.volume" class="btn green pull-right"> < Back
						</a> <br>
						<div id="spacer"></div>
					</div>
					<modal title="update Service" visible="showModal">
						<div id="push"></div>
					</modal>
				</div>
			</div>
		</div>
	</div>
</body>

</html>