<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>PAAS | Application Listings</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
 -->
<!-- <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
 -->
<script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/form-validation.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="../assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/layout.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-bootstrap-touchspin.min.js" type="text/javascript"></script>

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="../assets/pages/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/pages/css/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="../assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico" />

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/table/table.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../assets/pages/scripts/networkwizard/networkWizard.js" type="text/javascript"></script>
</head>
<!-- END HEAD -->

<body
	class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
	<div class="page-content" style="height: 100%; width: 97%">
		<!-- BEGIN PAGE HEAD-->
		<div class="page-head">
			<!-- BEGIN PAGE TITLE -->
			<div class="page-title">
				<h1>NetWork Configuration Wizard</h1>
			</div>
			<!-- END PAGE TITLE -->

		</div>
		<!-- END PAGE HEAD-->
		<hr>
		<!-- BEGIN PAGE BASE CONTENT -->
		<div ng-app="networkwizardApp" ng-controller="MainCtrl">

			<div id="spacer"></div>
			<div id="progress-bar">

				<div data-ng-show="false" class="col-md-2 col-sm-3 col-xs-3">
					<ul class="nav nav-tabs tabs-left">
						<li class="active"><a href="#tab_6_1" data-toggle="tab">
								Service </a></li>
						<li><a href="#tab_6_2" data-toggle="tab"> Image </a></li>
						<li><a href="#tab_6_3" data-toggle="tab"> Run Settings </a></li>
						<li><a href="#tab_6_4" data-toggle="tab"> Networking
								Policy </a></li>

					</ul>
				</div>
				<div>
					<!-- TAB CONTENT -->
					<div class="tab-content" style="width: 97%; height: 100%">

						<div class="tab-pane active" id="tab_6_1">
							<div id="progress-bar">
								<div class="stepcurrent">
									<div class="circle">1</div>

									<div class="title">VPC</div>
								</div>
								<div class="stepinactive">
									<div class="circle">2</div>
									<div class="title">ENVIRONMENT</div>
								</div>
								<div class="stepinactive">
									<div class="circle">3</div>
									<div class="title">ACL</div>
								</div>
								<div class="stepinactive">
									<div class="circle">4</div>
									<div class="title">SUBNET</div>
								</div>
							</div>
							<br>
							<h3>Step: Virtual Private Cloud (VPC)</h3>
							<br>
							<form action="#" id="step-1" class="form-horizontal"
								name="userForm">
								<div class="form-body">
									<div class="form-group"
										data-ng-class="{ 'has-error' : userForm.vpc_name.$invalid && !userForm.vpc_name.$pristine }">


										<div class="col-xs-4">
											<label for="ex2">Vpc Name <span class="required">
													* </span></label>
											<input type="text" id="vpc_name" name="vpc_name"
												data-ng-model="network.vpc.vpc_name" class="form-control"
												value="" ng-minlength="2" ng-maxlength="20"
												required data-ng-change="vpcValidation(network.vpc.vpc_name)" /><span
												class="error" ng-show=" userForm.vpc_name.$error.minlength"
												class="help-block" style="color: red;">VPC name
												Shouldn't below 2 chars.</span> <span class="error"
												ng-show=" userForm.vpc_name.$error.maxlength"
												class="help-block" style="color: red;">VPC name
												Shouldn't above 20 chars.</span> <span id="errfn"
												style="color: red;"></span>
										</div>
									</div>

								</div>
								{{isExist}}


							</form>
							<button type="button" class="btn grey-salsa btn-outline pull-left"
								data-dismiss="modal">Cancel</button>
							<button type="button" class="btn green continue pull-right" id="myvpcbtn" 
							data-ng-disabled="userForm.$invalid">Next</button>


						</div>
						<div class="tab-pane fade" id="tab_6_2">
							<div id="progress-bar">

								<div class="step">
									<div class="circle">1</div>

									<div class="title">VPC</div>
								</div>
								<div class="stepcurrent">
									<div class="circle">2</div>
									<div class="title">ENVIRONMENT</div>
								</div>
								<div class="stepinactive">
									<div class="circle">3</div>
									<div class="title">ACL</div>
								</div>
								<div class="stepinactive">
									<div class="circle">4</div>
									<div class="title">SUBNET</div>
								</div>
							</div>
							<br>
							<h3>Step: Environment</h3>
							<br>

							<form action="#" id="step-1" class="form-horizontal"
								name="environmentForm">

								<div class="form-body">
									<div class="form-group"
										data-ng-class="{ 'has-error' :environmentForm.name.$invalid && !userForm.name.$pristine }">
										<label class="control-label col-md-3">Environment Name
											<span class="required"> * </span>
										</label>
										<div class="col-md-4">
											<input type="text" id="name" name="name"
												data-ng-model="network.environment.name"
												class="form-control" value="" ng-minlength="2"
												ng-maxlength="20" data-ng-change="environmentTypesValidation(network.environment.name);" required /><span class="error"
												ng-show="environmentForm.name.$error.minlength"
												class="help-block" style="color: red;">Environment
												name Shouldn't below 2 chars.</span> <span class="error"
												ng-show="environmentForm.name.$error.maxlength"
												class="help-block" style="color: red;">Environment
												name Shouldn't above 20 chars.</span> <span id="environmenterr"
												style="color: red;"></span> 
										</div>
									</div>
									 
									<div class="form-group">
										<label class="control-label col-md-3"> Description <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<textarea rows="4"
												data-ng-model="network.environment.description" cols="40"
												id="envdescription"></textarea>
										</div>
									</div>
								</div>	
							</form>
							<button type="button" class="btn grey-salsa btn-outline pull-left" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn green continue pull-right" data-ng-disabled="environmentForm.$invalid" id="myenvbtn">Next</button>
							<button class="btn green back pull-right">Previous</button>
						</div>

						<div class="tab-pane fade" id="tab_6_3">

							<div id="progress-bar">

								<div class="step">
									<div class="circle">1</div>

									<div class="title">VPC</div>
								</div>
								<div class="step">
									<div class="circle">2</div>
									<div class="title">ENVIRONMENT</div>
								</div>
								<div class="stepcurrent">
									<div class="circle">3</div>
									<div class="title">ACL</div>
								</div>
								<div class="stepinactive">
									<div class="circle">4</div>
									<div class="title">SUBNET</div>
								</div>
							</div>
							<br>
							<h3>Step: Acl</h3>
							<br>
							<form action="#" id="step-1" class="form-horizontal"
								name='aclForm'>
								<div class="form-body">
								<!-- Acl Name -->
									<div class="form-group"
										data-ng-class="{ 'has-error' :aclForm.aclName.$invalid && !aclForm.aclName.$pristine }">
										<label class="control-label col-md-3"> Acl Name <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<input type="text" id="aclName" name="aclName"
												data-ng-model="network.acl.aclName" class="form-control"
												value="" ng-minlength="2" ng-maxlength="20" data-ng-blur="aclValidation(network.acl.aclName);" required/> 
												<span class="error"
												ng-show=" aclForm.aclName.$error.minlength"
												class="help-block" style="color: red;">ACL name
												Shouldn't below 2 chars.</span> <span class="error"
												ng-show="aclForm.aclName.$error.maxlength"
												class="help-block" style="color: red;">ACL name
												Shouldn't above 20 chars.</span> <span id="aclerr"
												style="color: red;"></span>
										</div>
									</div>
									
									<!-- Description -->
									<div class="form-group">
										<label class="control-label col-md-3"> Description <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<textarea rows="4"
												data-ng-model="network.acl.description" cols="40"
												id="description"></textarea>
										</div>
									</div>
									
									<!-- <div class="form-group"
										data-ng-class="{ 'has-error' :aclForm.sourceIp.$invalid && !aclForm.sourceIp.$pristine }">
										<label class="control-label col-md-3"> Description <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<input type="text" id="description" name="description"
												data-ng-model="network.acl.description" class="form-control"
												value="" ng-minlength="11" ng-maxlength="17" required /> <span
												class="error" ng-show=" aclForm.sourceIp.$error.minlength"
												class="help-block" style="color: red;">Source IP must
												be of 11 length .</span> <span class="error"
												ng-show="aclForm.sourceIp.$error.maxlength"
												class="help-block" style="color: red;">Source IP
												should not exceed of 17 length</span>
										</div>
									</div>
									<div class="form-group"
										data-ng-class="{ 'has-error' :aclForm.sourceIp.$invalid && !aclForm.sourceIp.$pristine }">
										<label class="control-label col-md-3">Destintaion Ip <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<input type="text" id="destinationIp" name="destinationIp"
												data-ng-model="network.acl.destinationIp"
												class="form-control" value="" ng-minlength="11"
												ng-maxlength="17" required /> <span class="error"
												ng-show=" aclForm.destinationIp.$error.minlength"
												class="help-block" style="color: red;">Destination IP
												must be of 11 length .</span> <span class="error"
												ng-show="aclForm.destinationIp.$error.maxlength"
												class="help-block" style="color: red;">Destination IP
												should not exceed of 17 length</span>

										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Port <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<input type="text" id="port" name="port"
												data-ng-model="network.acl.port" class="form-control"
												required />
										</div>
									</div> 
									<div class="form-group">
										<label class="control-label col-md-3">Action <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<select id="action" name="action" aria-required="true"
												data-ng-model="network.acl.action"
												aria-describedby="select-error" class="form-control"
												required>
												<option value="1.0">allow</option>
												<option value="2.0">deny</option>
											</select> <span class="help-block"> Select vpc</span>
										</div>
									</div> -->
								</div>
							</form>
							<button type="button"
								class="btn grey-salsa btn-outline pull-left"
								data-dismiss="modal">Cancel</button>
							<button type="button" class="btn green continue pull-right" data-ng-disabled="aclForm.$invalid" id="myaclbtn">Next</button>
							<button type="button" class="btn green back pull-right">Previous</button> 
								</div>
						<div class="tab-pane fade" id="tab_6_4">

							<div id="progress-bar">

								<div class="step">
									<div class="circle">1</div>

									<div class="title">VPC</div>
								</div>
								<div class="step">
									<div class="circle">2</div>
									<div class="title">ENVIRONMENT</div>
								</div>
								<div class="step">
									<div class="circle">3</div>
									<div class="title">ACL</div>
								</div>
								<div class="stepcurrent">
									<div class="circle">4</div>
									<div class="title">SUBNET</div>
								</div>
							</div>
							<br>
							<h3>Step:Subnet</h3>
							<br>
							<form action="#" id="step-1" class="form-horizontal" name='subnetForm'>
								<div class="form-body">
									<div class="form-group" data-ng-class="{ 'has-error' :subnetForm.subnetName.$invalid && !subnetForm.subnetName.$pristine }">
										<label class="control-label col-md-3">Subnet Name <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<input type="text" id="subnetName" name="subnetName"
												data-ng-model="network.subnet.subnetName"
												class="form-control" value="" ng-maxlength="20"
												ng-minlength="2"
												data-ng-change="subnetValidation(network.subnet.subnetName);"
												required /> <span class="error"
												ng-show=" subnetForm.subnetName.$error.minlength"
												class="help-block" style="color: red;">Subnet name
												shouldn't below 2 char </span> <span class="error"
												ng-show="subnetForm.subnetName.$error.maxlength"
												class="help-block" style="color: red;">Subnet name
												shouldn't above 10 char</span> <span id="suberr"
												style="color: red;"></span>
											
										</div>
									</div>
									<div class="form-group" >
										<label class="control-label col-md-3">Cidr <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<input type="text"  id="cidr" name="cidr"
												data-ng-model="network.subnet.cidr"
												class="form-control" value="" ng-maxlength="20"
												ng-minlength="2">
										</div>
									</div>
									
									<div class="form-group" >
										<label class="control-label col-md-3">Vpc Name <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<select name="vpc_name" id="vpc_name" aria-required="true"  data-ng-model="network.subnet.vpcName"
												aria-describedby="select-error" class="form-control" required >
												<option value="{{network.vpc.vpc_name}}">{{network.vpc.vpc_name}}</option>
											</select> 
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3">Environment <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<select id="environmentName" name="environmentName" aria-required="true" data-ng-model="network.subnet.environmentName"
												aria-describedby="select-error" class="form-control" required>
												<option value="{{network.environment.name}}">{{network.environment.name}}</option>
											</select> 
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3"> Acl <span
											class="required"> * </span>
										</label>
										<div class="col-md-4">
											<select id="acl" name="aclName" data-ng-model="network.subnet.aclName" aria-required="true"
												aria-describedby="select-error" class="form-control" required>
												<option value="{{network.acl.aclName}}">{{network.acl.aclName}}</option>
											</select> 
										</div>


									</div>
							</form>
							<button type="button"
								class="btn grey-salsa btn-outline pull-left"
								data-dismiss="modal">Cancel</button>
							<button type="button" ng-click="addNetworkDet();"
								class="btn green continue pull-right"
								data-ng-disabled="subnetForm.$invalid" id="mysubnetbtn">Finish</button>
							 <a class="btn green back pull-right">Previous</a>

						</div>





					</div>
					<!-- END TAB CONTENT -->

				</div>

			</div>
		</div>
		<!-- button function -->
		<!--	<div class="btn-group">
				<button ng-click="toggleModal()" class="btn btn-primary">
					<i class="glyphicon glyphicon-plus"></i>Add Cloud Provider
				</button>
			</div> -->
		<!-- end -->
		<modal title="Add Cloud Provider" visible="showModal">



		<div id="push"></div>

		</modal>
	</div>

</body>

</html>