<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>PAAS | Application Listings</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="../assets/pages/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/angular.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/angular.js" type="text/javascript"></script>
		<script src="../assets/global/scripts/angular-route.js" type="text/javascript"></script>
        <script src="../assets/pages/scripts/subnet/subnet.js" type="text/javascript"></script>
        
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/pages/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/pages/css/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="../assets/pages/css/application-listing.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="favicon.ico" /> 
        </head>
    <!-- END HEAD -->
    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    	<div data-ng-app="mysubnet" data-ng-controller="SubnetCtrl" data-ng-init="selectSubnetnew()">
    
        <div class="page-container">
        	<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <button type="button" OnClick=" location.href='create-new-subnet.html' " class="btn green">subnet wizard</button>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            
        </div>
       <hr>
       <div class="row" style="width: 99%;">
                        <div class="col-md-12">
						<!-- BORDERED TABLE PORTLET-->
                             
                             <div class="container table-scrollable">
                                 <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr id="tableheader">
                                                    
                                                    <th> Subnet Name </th>
                                                    <th> VPC </th> 
                                                    <th> CIDR </th>
                                                    <th> ACL</th>
                                                     <th> Environment Name </th>
                                                    <th> Delete </th>
                                                    <th> Update </th>
                                                   
                                                </tr>
                                            </thead>
											<tbody>
												<tr data-ng-repeat="value in subnet">									
													<td>{{value.subnetName}}</td>
													<td>{{value.vpcName}}</td>
													<td>{{value.cidr}}</td>
													<td>{{value.aclName}}</td>
													<td>{{value.environmentName}}</td>
													<!-- <td><button type="button"class="btn btn-danger" ng-click="remove(fld)">Delete</a></td> -->
													<td align="center"><a data-ng-click="deleteSubnet(value.id)"
															 ><i class="fa fa-remove"></a></td>
														<td align="center"><a data-ng-click="shareSubnetObject(value)"
															 ><i class="fa fa-undo"></a></td>
												</tr>
						
											</tbody>
											
                                        </table>       
                             </div>
                              <!-- END BORDERED TABLE PORTLET-->
</div>
</div>
        <!-- END CONTAINER -->
</div>       
    </body>

</html>