    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="width: 90%;height: 90%"> 
      <!-- BEGIN PAGE HEAD-->
      <div class="page-head"> 
        <!-- BEGIN PAGE TITLE -->
         <div class="page-title">
          <h1>Service Configuration Wizard </h1>
        </div> 
        <!-- END PAGE TITLE --> 
        
      </div>
      <!-- END PAGE HEAD-->
      <hr>
      
      <!-- Progress Bar -->
      
      <div id="progress-bar">
        <div  class="step">
          <div class="circle" >1</div>
          <div class="title">Service</div>
        </div>
        <div  class="step">
          <div class="circle">2</div>
          <div class="title">Image Registory</div>
        </div>
        <div  class="stepcurrent">
          <div class="circle">3</div>
          <div class="title">Run Settings</div>
        </div>
        <div  class="stepinactive">
          <div class="circle">4</div>
          <div class="title">Networking Policy</div>
        </div>
         <div  class="stepinactive">
          <div class="circle">5</div>
          <div class="title">Health Check Routes</div>
        </div>
         <div  class="stepinactive">
          <div class="circle">6</div>
          <div class="title">Volumes</div>
        </div>   <div  class="stepinactive">
          <div class="circle">7</div>
          <div class="title">Subnet </div>
        </div>
      </div>
      
      <!-- End Progress Bar --> 
      
      <!-- BEGIN PAGE BASE CONTENT -->
      <div class="row">
        <div class="col-md-12">
                                       <h1>Step :Run Settings </h1>
        
          <div id="spacer"></div>
         
          <div class="col-md-2 col-sm-3 col-xs-3">
            <ul class="nav nav-tabs tabs-left">
              <li  > <a  data-toggle="tab"> Service </a> </li>
              <li> <a  data-toggle="tab"> Image Registory </a> </li>
              <li class="active"> <a  data-toggle="tab"> Run Settings </a> </li>
              <li> <a  data-toggle="tab"> Networking Policy </a> </li>
              <li> <a  data-toggle="tab"> Health Check Routes </a> </li>
              <li > <a  data-toggle="tab"> Volumes </a> </li>
                            <li > <a  data-toggle="tab"> Subnet </a> </li>
              
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6"> 
           
  			<form action="#" id="step-1" class="form-horizontal">
                  <div class="form-body">
                    <div class="form-group">
                      <label class="control-label col-md-4"> Run Command <span class="required"> * </span> </label>
                      <div class="col-md-7">
                        <input type="text"  id="run" name="run" data-ng-model="field.run" class="form-control" />
                        <span class="help-block"> Enter Command</span> </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-4">Host Name <span class="required"> * </span> </label>
                      <div class="col-md-7">
                        <input type="text" id="hostName" name="hostName" data-ng-model="field.hostName" class="form-control"/>
                        <span class="help-block"> Enter Host Name</span> </div>
                    </div>
	                     
                    <!-- Environment Variables -->
						<!-- <div class="form-group">
							<label for="envirnament" class="control-label col-md-4">Environmental
								VARS <span class="required"> * </span>
							</label>
							<div data-ng-repeat="field in env">
								<div class="col-md-4">
									<input type="text" class="form-control" data-ng-model="field.envkey"	
										name="envkey">
										 <span class="help-block"> Sample VAR </span>
								</div>
								<div class="col-md-4">
									<input type="text" class="form-control"
										data-ng-model="field.envvalue" name="envvalue">
								</div>
								<div class="col-md-4">
									<button data-ng-click="removeEnvirnament($index)" class="btn btn-icon-only green"><i class="fa fa-minus"></i></button>
								</div>
							</div>
							<div class="row">
								<div class="col-sm4">
									<div class="col-sm-3">
										<a class="btn green" data-ng-click="addNewEnvirnament()"><i class="fa fa-plus"></i></a>
									</div>
								</div>
							</div>
							 
						</div> -->
						<div class="form-group">
							<label for="envirnament" class="control-label col-md-0">Environmental
								VARS <span class="required"> * </span>
							</label> <br>
							<br>

							<div data-ng-repeat="field in env">
								<div class="row">
									<div class="col-md-2">
										<input type="hidden" class="form-control">

									</div>
									<div class="col-md-3">
										<input type="text" class="form-control"
											data-ng-model="field.envkey" name="envkey"> <span
											class="help-block"> Sample VAR </span>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control"
											data-ng-model="field.envvalue" name="envvalue">
									</div>
									<div class="col-md-2">
										<button data-ng-click="removeEnvirnament($index)"
											class="btn btn-icon-only green">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="col-sm-3">
										<a class="btn green" data-ng-click="addNewEnvirnament()"><i
											class="fa fa-plus"></i></a>
									</div>
								</div>
							</div>

						</div>


					</div>
                </form>
            <br>
             
            </div>
          <div class="col-md-12">
            <hr>
            <div id="spacer"></div>
            <a href="#" class="btn grey-salsa btn-outline pull-left">Cancel</a>
                      <a ui-sref="form.network" class="btn green pull-right"> Continue ></a>
            <a ui-sref="form.network" class="btn green pull-right"> Skip</a>
                      <a ui-sref="form.image" class="btn green pull-right"> < Back  </a>
            
           <div id="spacer"></div>
          </div>
        </div>
      </div>
      
      <!-- END PAGE BASE CONTENT --> 
    </div>
    <!-- END CONTENT BODY --> 

  <!-- END CONTENT --> 
