    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="width: 90%;height: 90%"> 
      <!-- BEGIN PAGE HEAD-->
      <div class="page-head"> 
        <!-- BEGIN PAGE TITLE -->
      <div class="page-title">
          <h1>Service Configuration Wizard </h1>
        </div> 
        <!-- END PAGE TITLE --> 
        
      </div>
      <!-- END PAGE HEAD-->
      <hr>
      
      <!-- Progress Bar -->
      
      <div id="progress-bar">
        <div  class="step">
          <div class="circle" >1</div>
          <div class="title">Service</div>
        </div>
        <div  class="step">
          <div class="circle">2</div>
          <div class="title">Image Registory</div>
        </div>
        <div  class="step">
          <div class="circle">3</div>
          <div class="title">Run Settings</div>
        </div>
        <div  class="step">
          <div class="circle">4</div>
          <div class="title">Networking Policy</div>
        </div>
         <div  class="step">
          <div class="circle">5</div>
          <div class="title">Health Check Routes</div>
        </div>
         <div  class="step">
          <div class="circle">6</div>
          <div class="title">Volumes</div>
        </div>
         <div  class="stepcurrent">
          <div class="circle">7</div>
          <div class="title">Subnet </div>
        </div>
      </div>
      
      <!-- End Progress Bar --> 
      
      <!-- BEGIN PAGE BASE CONTENT -->
      <div class="row">
        <div class="col-md-12">
                               <h1>Step :Subnet</h1>
         
          <div id="spacer"></div>
         
          <div class="col-md-2 col-sm-3 col-xs-3">
            <ul class="nav nav-tabs tabs-left">
              <li  > <a  data-toggle="tab"> Service </a> </li>
              <li> <a  data-toggle="tab"> Image Registory</a> </li>
              <li > <a  data-toggle="tab"> Run Settings </a> </li>
              <li > <a  data-toggle="tab"> Networking Policy </a> </li>
              <li > <a  data-toggle="tab"> Health Check Routes </a> </li>
              <li > <a  data-toggle="tab"> Volumes </a> </li>
             <li class="active"> <a  data-toggle="tab"> Subnet  </a> </li>
              
            </ul>
          </div>
                    <div class="col-md-7 col-sm-7 col-xs-7"> 
          
     
               <form action="#" id="step-1" class="form-horizontal">
                  <div class="form-body">
                   
                    <div class="form-group">
                      <label class="control-label col-md-4">Subnet<span class="required"> * </span> </label>
                      <div class="col-md-6">
                        <!--  <select id="subnetName" name="subnetName" data-ng-model="field.subnetName" aria-required="true" aria-describedby="select-error" class="form-control">
                          <option value="1.0">Type 1</option>
                        
                        </select> -->
                        
                        	<select class="form-control" id="subnet"  aria-required="true" aria-describedby="select-error" class="form-control" data-ng-init="selectAllSubnet()"
												ng-model="field.subnetName" name="subnetid"
												ng-change="selectCidrforSubent(field.subnetName)"
												ng-options="group.subnetName  as group.subnetName for group in  subnetObj">

											</select>
                        <span class="help-block"> Select Type</span> </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-4">Cidr<span class="required"> * </span> </label>
                      <div class="col-md-6">
                       <input type="text" id="cidr" name="cidr" data-ng-model="field.cidr" class="form-control" />

                    </div>
                  </div></div>
                </form>
                <br>
            Service Wizards Data :{{field}}
              </div>
			<div class="col-md-12">
				<hr>
				<div id="spacer"></div>
				<a href="#" class="btn grey-salsa btn-outline pull-left">Cancel</a>
				<button class="btn green pull-right">Submit</button>
				<a ui-sref="form.volume" class="btn green pull-right"> < Back </a> <br>
				<div id="spacer"></div>
			</div>
		</div>
      </div>
      
      <!-- END PAGE BASE CONTENT --> 
    </div>
    <!-- END CONTENT BODY --> 
  
